$font-stack: Helvetica, sans-serif;
$background1: rgb(45, 45, 45);
$background2: rgb(30, 30, 30);
$errorColor: rgb(255, 50, 0);
$baseColor: aliceblue;
$game-width: 900px;
$game-height: 600px;

/* Root and UI elements */
body {
  font: 100% $font-stack;
  color: $baseColor;
  background-color: $background1;
  padding: 0;
}

.game-name {
  padding: 0;
  font-size: 24pt;
}

#root {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#root #ui {
  position: absolute;
  top: 0;
  left: 0;
  width: $game-width;
  height: $game-height;
}

/* Main Menu */
div#ui.mainMenu button.button--start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $background1;
  color: $baseColor;
  border-width: 1px;
  width: 140px;
  height: 40px;
  transition-duration: 100ms;
}

div#ui.mainMenu button.button--start:hover {
  background: $background2;
}

/* Connection Error */
div#ui div.error--popuo {

}

div#ui div.error--popup p.header {
  
}

div#ui div.error--popup p.body {
  
}

div#ui div.error--popup button.acknowledge {
  
}