$font-stack: Helvetica, sans-serif;
$background1: rgb(45, 45, 45);

body {
  font: 100% $font-stack;
  color: aliceblue;
  background-color: $background1;
  padding: 0;
}

.game-name {
  padding: 0;
  text-align: center;
  font-size: 24pt;
}

#root {
  position: relative;
}

#game {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#root #ui {
  position: absolute;
  top: 0;
  left: 0;
}
