$font-stack: Helvetica, sans-serif;
$background1: rgb(45, 45, 45);
$background2: rgb(30, 30, 30);
$errorColor: rgb(255, 50, 0);
$buttonHoverColor: rgb(255, 150, 0);
$baseColor: aliceblue;
$game-width: 900px;
$game-height: 600px;
$default-transition-duration: 100ms;

/* Global mixins */
@mixin anchorCenter {
  transform: translate(-50%, -50%);
}

@mixin center {
  @include anchorCenter();
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Root and UI elements */
body {
  font: 100% $font-stack;
  color: $baseColor;
  background-color: $background2;
  padding: 0;
}

.game-name {
  padding: 0;
  font-size: 24pt;
}

#root {
  position: relative;
}

#root #ui {
  position: absolute;
  top: 0;
  left: 0;
  width: $game-width;
  height: $game-height;
}

/* Main Menu */
div#ui.mainMenu button.button--start {
  @include center();

  background-color: $background1;
  border: 0;
  color: $baseColor;
  width: 140px;
  height: 40px;
  transition-duration: $default-transition-duration;
}

div#ui.mainMenu button.button--start:hover {
  background: $buttonHoverColor;
  color: black;
}

/* Popups */
@mixin popup-header {
  font: 125% $font-stack;
  margin: 0;
  color: $baseColor;
  border-bottom: 1px solid white;
  height: 25px;
}

@mixin popup-button {
  margin: 2px 5% 2px 5%;
  height: 26px;
  background-color: $background1;
  border: 0;
  color: $baseColor;
  transition-duration: $default-transition-duration;
}

@mixin popup-button-hover {
  background-color: $buttonHoverColor;
  color: black;
}

div#ui div.popup {
  @include center();

  border: 2px solid $background1;
  background: $background2;
  width: 200px;
  height: 150px;
}

div#ui div.popup p.header {
  @include popup-header();
}

div#ui div.popup p.body {
  font: 90% $font-stack;
  margin: 5px 2px 5px 2px;
  height: 84px;
}

div#ui div.popup button.option {
  @include popup-button();
  width: 40%;
}

div#ui div.popup button.option:hover {
  @include popup-button-hover();
}

/* Error */
div#ui div.popup p.error--header {
  @include popup-header();
  color: $errorColor;
}

div#ui div.popup button.error--option {
  @include popup-button();
  width: 90%;
}

div#ui div.popup button.error--option:hover {
  @include popup-button-hover();
}